.table1{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    width: 60%;

}

/* td,th{
    border: 1px solid black;
    width: 16.666%;
    padding:10px
} */

.table2 {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

td, th{
    border: 2px solid black;
    width:7.6923%;
    padding: 10px;
}

