h1{
    border: 5px;
    text-align: rigt;
    padding: 10px;
    /* margin: 10px; */

    
}


.one{
    color: red

}

.two{
    color: blue
}

.three{
    color:aqua
}
.four{
    color:black
}
.five{
    color:blueviolet
}
.six{
    color:brown
}
.seven{
    color:gold
}
.eight{
    color:teal
}
.nine{
    color:salmon
}
.ten{
    color:rebeccapurple
}
.eleven{
    color:yellowgreen
}
.twelve{ 
    color:indianred
}
.thirten{
    color:forestgreen
}
.fourth{
    color:olive
}
.fifth{
    color:violet
}
.sixth{
    color:blanchedalmond
}
.seventh{
    color:khaki
}
.eightt{
    color:sandybrown
}
.ninth{
    color:aquamarine
}
.tenth{
    color:blue
}
.on{
    color:palegreen
}
.tw{
    color:purple
}
#thr{
    color:powderblue
}
#fou{
    color:plum
}
#fiv{
    color:plum
}
#si{
    color:pink
}
#seve{
    color:peru
}
#eigh{
    color:black
}
#nin{
    color:yellow
}
#te{
    color:black
}
