@media (max-width: 768px) {
    .phone{
        display: none;
    }
    .navlink img{
        width: 170px;
    }
    .navlink-con{
        display: none;
        background-color: red;
    }
    .navlink-con a{
        display: block;
    }
    .nav-active a.active{
        display: none;
    }
    .menu-btn{
        border: none;
        font-size: 30px;
        background-color: transparent;
        color: orange;
        display: block;
    }
    .left-container{
        width: 100%;
        max-width: 800px;
        text-align: center;
    }
    .left-content p{
        margin-bottom: 32px;
    }
    .left-content a{
        padding: 14px 40px;
    }
    .right-container{
        width: 0%;
    }
    .section-container{
        /* max-width: 800px; */
        flex-wrap: wrap;
    }
    .section-content{
        width: calc(100% - 10px);
        margin-bottom: 35px;
    }
    .section-contain{
        text-align: center;
        width: 100%;
    }
    .face-off{
        width: 100%;
    }
    .mu{
        width: 100%;
        padding: 30px ;
    }
    .mu img{
        max-width: 100%;
        height: 450px;
        margin: 0 auto;

    }
    .section-contain h2{
      font-size: 29px;  
    }
    .section-contain p{
        font-size: 17px;
    }
    .impig-container{
        width: 100%;
        max-width: 700px;
    }
    .left{
        margin: 10px;
        text-align: left;
    }
    .left h2{
        font-size: 20px;
    }
    .left p{
        font-size: 14px;
    }
    .desi{
        flex-wrap: wrap;
    }
    .design{
        width: 100%;
    }
    .right{
        width: 100%;
        margin: 0 auto;
    }
    .right img{
        padding-right: 50px;
        border-radius: 0;
    }
    .faces{
        flex-wrap: wrap;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .contents{
        margin-bottom: 70px;
    }
    faces{
        border-radius: 0;
    }
    .muu img{
        border-radius: 0;
    }
    .professions{
        width: 100%;
        text-align: left;
    }
    .professions h2{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .professions a{
        font-size: 20px;
        padding: 30px 60px;
    }
    .imgs{
        width: 100%;
    }
    .container{
        flex-wrap: wrap;
        padding: 10px;
        gap: calc(100% - 8px);
        width: 100%;
    }
    .footer-body{
        width: 100%;
    }
    .footer-content{
        width: 100%;
    }
    .footer-contentt{
        width: 100%;
    }
}