*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.fa-plus{
    color: orange;
}
.fa-heart{
    color: black;
}
.menu-btn{
    display: none;
}
.joe{
    color: white;
}
img{
    max-width: 100%;
}
.main-nav{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 5%;
    color: white;
    background-color: rgb(22, 22, 115);
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navlink{
    display: flex;
}
.navlink a{
    line-height: 60px;
    padding: 7px 20px;
}
.phone{
    display: none;
}
.navlink img{
    width: 250px;
}
.navlink-con a{
    color: white;
    padding: 12px 9px;
    line-height: 60px;
    margin: 7px;
}

.nav-active a.active{
    border: none;
    line-height: 60px;
    background-color: white;
    color: orange;
    border-radius: 5px;
    padding: 12px 9px;

}

header{
    /* border: 1px solid blue;    */
    min-height: calc(100vh - 60px);  
    background-color: rgb(22, 22, 115);     
    display: flex;  
    margin-top: 50px;
}

.header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 10%;

}

.left-container{
    width: 45%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-content{
    max-width: 400px;
    line-height: 1.4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.left-content h2{
    color: white;
    font-size: 32px;

}
.left-content p{
    color: white;
    font-size: 19px;
    margin-bottom: 25px;

}

.left-content a{
    border: none;
    border-radius: 6px;
    background-color: orange;
    color: white;
    padding: 14px 22px;
    font-size: 15px;
    font-weight: bold;
}

.right-container{
    margin-top: 30px;
    width: 55%;
    background-image: url(../IMAGES/IMG_20220902_010615.jpg);
    background-size: cover;
}

#sectn{
    background-color: whitesmoke;
}

section{
    background-color: whitesmoke;
    display: flex;
}

.section-container{
    display: flex;
    max-width: 1100px;
    margin: 50px auto;
    justify-content: space-between;

}

.section-content{
    margin-top: 20px;
    width: calc(33.333% - 10px);
    line-height: 1.4;
    display: flex;
}

.section-content img{
    width: 120px;
    height: 120px;
    border-radius: 250px;
}

.content-con{
    margin: 0 20px;
    color: rgb(22, 22, 115);
}

.content-con p{
    font-size: 15px;
    margin-bottom: 10px;
}


.section-contain{
    max-width: 1100px;
    margin: 50px auto;
    color: rgb(22, 22, 115);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
    width: 70%;
}

.section-contain h2{
    font-size: 37px;
    margin-bottom: 20px;
}

.section-contain p{
    font-size: 17px;
}

#setn{
    background-color: whitesmoke;
    margin: 0 auto;
}
.face-off{
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    width: 1000px;

}

.mu{
    padding: 0 20px;
}

.mu img{
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
.content-co {
    margin: 0 10px;
    color: rgb(22, 22, 115);
    line-height: 2.3;
}


.impig{
    max-width: 1200px;
    color: rgb(22, 22, 115);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    margin-bottom: 120px;
}

.impig-container{
    margin: 12px;
    width: 55%;
}

.left{
    line-height: 1.8;
    margin-bottom: 30px;
}

.left h2{
    margin-bottom: 20px;
    font-size: 33px;
}

.desi{
    display: flex;
    border-radius: 12px;

}

.design{
    background-color: rgb(226, 222, 222);
    margin: 20px;
    padding: 20px;
}
.design img{
    width: 40px;
    height: 40px;
    border-radius: 90px;
}
.fa-minus{
    color: rgb(98, 98, 127);
}
.design h3{
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}

.design p{
    margin-bottom: 12px;

}
.design a{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid orange;
    color: orange;

}
.right{
    width: 30%;

}

.right img{
    border-radius: 14px;
    height: 530px;
    margin-top: 20px;
}

#mang{
    background-image: url(../IMAGES/image-currency.jpg);
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
    /* display: flex; */

}

.money{
    width: 320px;
    border-radius: 12px;
    background-color: white;
    margin-left: auto;
    margin: 50px 70px;

}

.money-con{
    padding: 30px;
    line-height: 1.5;
}
.money-con i{
    height: 40px;
    width: 40px;
}
.money-con h3{
    font-size: 19px;
    color: orange;
    margin-bottom: 3px;
}

.money-con p{
    margin-bottom: 22px;
}
.ceo{
    padding-left: 11px;
}
.faces{
    border-radius: 22px;
    background-color: rgb(244, 239, 239);
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    width: 900px;

}

.muu{
    padding: 1px 0;
}
.muu img{
    height: 350px;
    width: 450px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.contents{
    margin: 0 10px;
    color: rgb(22, 22, 115);
    font-family: Arial, Helvetica, sans-serif;
}
.contents img{
    width: 250px;
    height: 80px;
    margin: 20px 0;
}
.contents h3{
    font-size: 22px;
}
.contents p{
    margin-bottom: 40px;
}
.contents a{
    color: orange;
    text-decoration: underline;
}

.proff{
    margin-top: 60px;
    display: flex;
}
.professions{
    max-width: 1100px;
    margin: 50px ;   
    margin-left: 100px;
    color: rgb(22, 22, 115);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 1.5;
    width: 55%;
}
.professions h2{
    font-size: 37px;
    margin-bottom: 20px;
}
.professions p{
    font-size: 17px;
    margin-bottom: 70px;
    line-height: 2.5;
}
.professions a{
    border: none;
    border-radius: 6px;
    background-color: orange;
    color: white;
    padding: 20px 50px;
    font-size: 15px;
    font-weight: bold;
}
.imgs {
    height: 700px;
    width: 45%;
    margin: 0 50px;    
}
.imgs img{
    height: 500px;
    border-radius: 5px;
}

footer{
    background-color: rgb(22, 22, 115);
}
.container{
    /* border: 2px solid red; */
    color: rgb(182, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


}
.footer-body{
    margin-top: 50px;
    /* border: 2px solid blue; */
    margin-bottom: 20px;
    width: 30%;
}
.footer-body img{
    height: 32px;
    margin-top: 10px;    
    margin-bottom: 20px;    
}
.social{
    margin-top: 35px;
    display: flex;
    

}
.social i{
    margin: 10px;
    margin-left: 0;
    border: 1px solid grey;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(182, 177, 177);
}
.footer-content{
    margin-top: 30px;
    margin-bottom: 30px;
    gap: calc(20% - 10px);
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    width: 150px;
}

.footer-contentt{
    margin-top: 30px;
    margin-bottom: 30px;
    gap: calc(20% - 10px);
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.content h3{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
.content p{
    font-size: 16px;
    margin-bottom: 20px;
}
.content a{
    font-size: 23px;
    color: orange;
}
.copyright{
    text-align: center;
}

