/* Reset some default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
nav{
    height: 60px;
    border:2px solid red;
}

nav li {
    float: left;
    margin-right: 20px;
}

nav a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header{
    height: 100vh;
    background-image: url(../IMAGES/image-currency.jpg);
    background-size: cover;
}